WEIGHTS_TYPE: WEIGHTS_TORCHSCRIPT #WEIGHTS_TORCHSCRIPT or WEIGHTS

WEIGHTS_TORCHSCRIPT:
  # Regular Nav
  NAV: "weights/torchscript/CUTOUT_WT_True_SD_200_ckpt.99.pvp_combined_net.torchscript"

  # Static gaze
  GAZE: "weights/final_paper/gaze_normal_32_seed100_1649708902_ckpt.38.pth"

  # Mobile Gaze torchscript module files path
  MOBILE_GAZE: "weights/torchscript/mg97_2_latest_combined_net.torchscript"

  # Semantic gaze
  SEMANTIC_GAZE: "weights/mobile_gaze_v2/mg97h103_6_ckpt.64.torchscript"

  # Static place
  PLACE: "weights/torchscript/place_10deg_32_seed300_1649709235_ckpt.75_combined_net.torchscript"

  # Semantic place
  SEMANTIC_PLACE: "weights/semantic_place/sp12lhb6v10_12_ckpt.199.torchscript"

  # Semantic place EE
  SEMANTIC_PLACE_EE: "weights/semantic_place_ee/sp_55k_mobile_0.1_30_ee_0.1_rot_drop_no_term_250_steps_EEPoseSensor_kinematic_ee_dist_ckpt_50.pth.torchscript"

  # Open close drawer
  OPEN_CLOSE_DRAWER: "weights/open_close_drawer/od15lr_56_ckpt.59.combined_net.torchscript"

WEIGHTS:
  # Regular Nav
  NAV: "weights/CUTOUT_WT_True_SD_200_ckpt.99.pvp.pth"

  # Static gaze
  GAZE: "weights/final_paper/gaze_normal_32_seed100_1649708902_ckpt.38.pth"

  # Mobile Gaze torchscript module files path
  MOBILE_GAZE: "weights/torchscript/mg97_2_latest_combined_net.torchscript"

  # Semantic gaze
  SEMANTIC_GAZE: "weights/mobile_gaze_v2/mg97h103_6_ckpt.64.torchscript"

  # Static place
  PLACE: "weights/final_paper/place_10deg_32_seed300_1649709235_ckpt.75.pth"

  # Semantic place
  SEMANTIC_PLACE: "weights/semantic_place/sp12lhb6v10_12_ckpt.199.torchscript"

  # Semantic place EE
  SEMANTIC_PLACE_EE: "weights/semantic_place_ee/sp_55k_mobile_0.1_30_ee_0.1_rot_drop_no_term_250_steps_EEPoseSensor_kinematic_ee_dist_ckpt_50.pth.torchscript"

  # Open close drawer
  OPEN_CLOSE_DRAWER: "weights/open_close_drawer/od15lr_56_ckpt.59.combined_net.torchscript"

  # ASC (weight of ASC will always remain in pytorch)
  MIXER: "weights/final_paper/final_moe_rnn_60_1.0_SD_100_1652120928_ckpt.16_copy.pth"

  # Mask-RCNN and Deblurgan for object detection
  MRCNN: "weights/ikea_apricot_large_only_model_0002999.pth"
  MRCNN_50: "weights/ikea_apricot_r50_normal_100_output_model_0003599.pth"
  DEBLURGAN: "weights/fpn_inception.h5"
  SAM: "weights/sam_vit_h_4b8939.pth"
  
# CG Json file
CONCEPT_GRAPH_FILE : "cfslam_object_relations.json"

DEVICE: "cuda:0"
USE_REMOTE_SPOT: False
PARALLEL_INFERENCE_MODE: True

# General env params
CTRL_HZ: 2.0
MAX_EPISODE_STEPS: 100

# Nav env
SUCCESS_DISTANCE: 0.3
SUCCESS_ANGLE_DIST: 5
SUCCESS_DISTANCE_FOR_DYNAMIC_YAW_NAV: 1.10
SUCCESS_ANGLE_DIST_FOR_DYNAMIC_YAW_NAV: 20
DISABLE_OBSTACLE_AVOIDANCE: False
USE_OA_FOR_NAV: True
USE_HEAD_CAMERA: True
NAV_ACTION_SPACE_LENGTH: 2

# Gaze env
CENTER_TOLERANCE: 0.3
OBJECT_LOCK_ON_NEEDED: 3
DONT_PICK_UP: False
ASSERT_CENTERING: True
GAZE_ACTION_SPACE_LENGTH: 4

# Mobile Gaze env
MAX_LIN_DIST_MOBILE_GAZE: 0
MAX_ANG_DIST_MOBILE_GAZE: 5.73 # degrees
MAX_JOINT_MOVEMENT_MOBILE_GAZE: 0.08 # radian
MOBILE_GAZE_ACTION_SPACE_LENGTH: 7
HEURISTIC_SEARCH_ANGLE_INTERVAL: 20

# Semantic Gaze env
MAX_LIN_DIST_SEMANTIC_GAZE: 0
MAX_ANG_DIST_SEMANTIC_GAZE: 0 # degrees
MAX_JOINT_MOVEMENT_SEMANTIC_GAZE: 0.08 # radian
SEMANTIC_GAZE_ACTION_SPACE_LENGTH: 7

# Place env
EE_GRIPPER_OFFSET: [0.2, 0.0, 0.05]
SUCC_XY_DIST: 0.25
SUCC_Z_DIST: 0.05
PLACE_ACTION_SPACE_LENGTH: 4

# Semantic Place
SEMANTIC_PLACE_ACTION_SPACE_LENGTH: 9
SEMANTIC_PLACE_JOINT_BLACKLIST: [3]

# Semantic Place EE
SEMANTIC_PLACE_EE_ACTION_SPACE_LENGTH: 10

# Open Close Drawer env
MAX_LIN_DIST_OPEN_CLOSE_DRAWER: 0.0
MAX_ANG_DIST_OPEN_CLOSE_DRAWER: 3.73 # degrees
OPEN_CLOSE_DRAWER_ACTION_SPACE_LENGTH: 8
OPEN_CLOSE_DRAWER_DISTANCE_BETWEEN_EE_HANDLE: 0.3

#GRASP DISTANCE THRESHOLD
GRASP_DISTANCE_THRESHOLD: 0.7
GRASP_DISTANCE_THRESHOLD_EE: 1.5

# Semantic Pick
IMG_SRC: 0 # 1 for intel & 0 for gripper
SEG_PORT: 21001 # port for segmentation service
POSE_PORT: 2100 # port for pose estimation
OBJECT_MESHES: ["bottle", "penguin", "cup", "cereal box", "hint can", "toy cup", "frosted flakes cup", "bowl", "oat creamer bottle"]

# Grasp Parameters: any (default, let BD decides grasping), topdown, side
RECEPTACLES:
  dining_table : "any"
  kitchen_island: "topdown"
  white_table: "any"

# Base action params
MAX_LIN_DIST: 0.25  # meters
MAX_ANG_DIST: 15.0  # degrees

# Base action params for sem place EE 
MAX_LIN_DIST_SEMANTIC_PLACE: 0.0  # meters
MAX_ANG_DIST_SEMANTIC_PLACE: 5.73  # degrees

# SEMANTIC EE POLICY SCALE PARAMETERS
EE_DIST_SCALE_SEMANTIC_PLACE : 0.3
EE_ROT_SCALE_SEMANTIC_PLACE : 0.3
EE_DIST_SCALE_MOBILE_GAZE : 0.1
EE_ROT_SCALE_MOBILE_GAZE : 0.0125

# Arm action params
MAX_JOINT_MOVEMENT: 0.0872665  # Gaze arm speed (5 deg)
MAX_JOINT_MOVEMENT_2: 0.174533  # Place arm speed (10 deg)
MAX_JOINT_MOVEMENT_OPEN_CLOSE_DRAWER: 0.06
STOW_ARM_JOINT_ANGLES: [0, -180, 180, 90, 0, -90]
INITIAL_ARM_JOINT_ANGLES: [0, -170, 120, 0, 75, 0]
INITIAL_ARM_JOINT_ANGLES_GRIPPERCAM_LOGGER: [0, -91, 33, 0, 100, 0]
INITIAL_ARM_JOINT_ANGLES_INTELCAM_LOGGER: [0, -100, 33, 0, 89, 0]
INITIAL_ARM_JOINT_ANGLES_SEMANTIC_PLACE: [0, -180, 180, 0, 0, 90] # The initial orientation of the arm for side grasping (gripper is in object's right hand side)
INITIAL_ARM_JOINT_ANGLES_SEMANTIC_PLACE_LEFT_HAND: [0, -180, 180, 0, 0, -90] # The initial orientation of the arm for side grasping (gripper is in object's left hand side)
INITIAL_ARM_JOINT_ANGLES_SEMANTIC_PLACE_TOP_DOWN: [-0.91, -92.87, 91.21, 0, 90.01, 0] # The initial orientation of the arm for top down grasping
# The old gaze ready angle: [0, -170, 120, 0, 75, 0]
<<<<<<< HEAD
GAZE_ARM_JOINT_ANGLES: [0, -160, 100, 0, 75, 0]
GAZE_ARM_JOINT_ANGLES_LOW_RECEPTACLES: [0, -160, 100, 0, 75, 0] #[0, -160, 100, 0, 90, 0]
GAZE_ARM_JOINT_ANGLES_HIGH_RECEPTACLES: [0, -120, 60, 0, 88, 0] #[0, -160, 100, 0, 90, 0]
HEIGHT_THRESHOLD : 0.8128
=======
GAZE_ARM_JOINT_ANGLES: [0, -160, 100, 0, 75, 0] #[0, -160, 100, 0, 90, 0]
SEMANTIC_PLACE_ARM_JOINT_ANGLES: [0, -125, 80, 0, 85, 0]
>>>>>>> 9fc4546 (updated to older value in config for semantic place joint angles.)
PLACE_ARM_JOINT_ANGLES: [0, -170, 120, 0, 75, 0]
ARM_LOWER_LIMITS: [-45, -180, 0, 0, -90, 0]
ARM_UPPER_LIMITS: [45, 0, 180, 0, 90, 0]
ARM_LOWER_LIMITS_SEMANTIC_PLACE: [-90, -180, 0, 0, -90, -90]
ARM_UPPER_LIMITS_SEMANTIC_PLACE: [90, 0, 180, 0, 90, 90]
ARM_LOWER_LIMITS_OPEN_CLOSE_DRAWER: [-90, -180, 0, 0, -90, 0]
ARM_UPPER_LIMITS_OPEN_CLOSE_DRAWER: [90, 0, 180, 0, 90, 0]
JOINT_BLACKLIST: [3, 5] # joints we can't control "arm0.el0", "arm0.wr1"
JOINT_BLACKLIST_OPEN_CLOSE_DRAWER: [3]

ACTUALLY_MOVE_ARM: True
GRASP_EVERY_STEP: False
TERMINATE_ON_GRASP: False

# Mask RCNN
GRAYSCALE_MASK_RCNN: False
USE_MRCNN: True
USE_FPN_R50: False
USE_DEBLURGAN: True
IMAGE_SCALE: 0.7
# After this many time steps of not seeing the current target object, we become open to looking for new ones
FORGET_TARGET_OBJECT_STEPS: 15

# Docking (currently only used by ASC, Seq Exp and Language env)
RETURN_TO_BASE: True

# BD params
ARM_TRAJECTORY_TIME_IN_SECONDS: 2.0

# Prints
VERBOSE: True
