WEIGHTS_TYPE: WEIGHTS_TORCHSCRIPT #WEIGHTS_TORCHSCRIPT or WEIGHTS

WEIGHTS_TORCHSCRIPT:
  # Regular Nav
  NAV: "weights/torchscript/CUTOUT_WT_True_SD_200_ckpt.99.pvp_combined_net.torchscript"
  
  # Static gaze
  GAZE: "weights/torchscript/gaze_normal_32_seed100_1649708902_ckpt.38_combined_net.torchscript"

  # Mobile Gaze torchscript module files path
  MOBILE_GAZE: "weights/torchscript/mg97_2_latest_combined_net.torchscript"
  
  # Static place
  PLACE: "weights/torchscript/place_10deg_32_seed300_1649709235_ckpt.75_combined_net.torchscript"

  # Semantic place
  SEMANTIC_PLACE: "weights/semantic_place/sp12lhb6v10_12_ckpt.199.torchscript"
  # SEMANTIC_PLACE: "weights/semantic_place/sp12lhb6v4_0_ckpt.56.torchscript"


WEIGHTS:
  # Regular Nav
  NAV: "weights/CUTOUT_WT_True_SD_200_ckpt.99.pvp.pth"
  
  # Static gaze
  GAZE: "weights/final_paper/gaze_normal_32_seed100_1649708902_ckpt.38.pth"

  # Mobile Gaze torchscript module files path
  MOBILE_GAZE: "weights/torchscript/mg97_2_latest_combined_net.torchscript"
  
  # Static place
  PLACE: "weights/final_paper/place_10deg_32_seed300_1649709235_ckpt.75.pth"

  # Semantic place
  SEMANTIC_PLACE: "weights/semantic_place/sp12lhb6v10_12_ckpt.199.torchscript"
  # SEMANTIC_PLACE: "weights/semantic_place/sp12lhb6v4_0_ckpt.56.torchscript"

  
  # ASC (weight of ASC will always remain in pytorch)
  MIXER: "weights/final_paper/final_moe_rnn_60_1.0_SD_100_1652120928_ckpt.16_copy.pth"
  
  # Mask-RCNN and Deblurgan for object detection
  MRCNN: "weights/ikea_apricot_large_only_model_0002999.pth"
  MRCNN_50: "weights/ikea_apricot_r50_normal_100_output_model_0003599.pth"
  DEBLURGAN: "weights/fpn_inception.h5"

DEVICE: "cuda:0"
USE_REMOTE_SPOT: False
PARALLEL_INFERENCE_MODE: True

# General env params
CTRL_HZ: 2.0
MAX_EPISODE_STEPS: 500

# Nav env
SUCCESS_DISTANCE: 0.3
SUCCESS_ANGLE_DIST: 5
DISABLE_OBSTACLE_AVOIDANCE: False
USE_OA_FOR_NAV: True
USE_HEAD_CAMERA: True
NAV_ACTION_SPACE_LENGTH: 2

# Gaze env
CENTER_TOLERANCE: 0.3
OBJECT_LOCK_ON_NEEDED: 3
DONT_PICK_UP: False
ASSERT_CENTERING: True
GAZE_ACTION_SPACE_LENGTH: 4

# Mobile Gaze env
MAX_LIN_DIST_MOBILE_GAZE: 0
MAX_ANG_DIST_MOBILE_GAZE: 5.73 # degrees
MAX_JOINT_MOVEMENT_MOBILE_GAZE: 0.08 # radian
MOBILE_GAZE_ACTION_SPACE_LENGTH: 7
HEURISTIC_SEARCH_ANGLE_INTERVAL: 20

# Place env
EE_GRIPPER_OFFSET: [0.2, 0.0, 0.05]
SUCC_XY_DIST: 0.25
SUCC_Z_DIST: 0.05
PLACE_ACTION_SPACE_LENGTH: 4
RUNNING_AFTER_GRASP_FOR_PLACE: False

#Semantic Place
SEMANTIC_PLACE_ACTION_SPACE_LENGTH: 9
JOINT_BLACKLIST_SEMANTIC_PLACE: [3]

# Base action params
MAX_LIN_DIST: 0.25  # meters
MAX_ANG_DIST: 15.0  # degrees

# Arm action params
MAX_JOINT_MOVEMENT: 0.0872665  # Gaze arm speed (5 deg)
MAX_JOINT_MOVEMENT_2: 0.174533  # Place arm speed (10 deg)
STOW_ARM_JOINT_ANGLES: [0, -180, 180, 90, 0, -90]
# This angle levels up the arm
INITIAL_ARM_JOINT_ANGLES: [0, -170, 120, 0, 75, 0]
INITIAL_ARM_JOINT_ANGLES_SEMANTIC_PLACE: [0, -180, 180, 0, 0, 90]  #Semantic Place
# INITIAL_ARM_JOINT_ANGLES: [-0.91, -92.87, 91.21, 0, 90.01, 0] 
# The old gaze ready angle: [0, -170, 120, 0, 75, 0]
# This is the robot holds the object: [-0.91, -92.87, 91.21, 0, 90.01, 0]
GAZE_ARM_JOINT_ANGLES: [0, -160, 100, 0, 90, 0]
PLACE_ARM_JOINT_ANGLES: [0, -170, 120, 0, 75, 0]
ARM_LOWER_LIMITS: [-45, -180, 0, 0, -90, 0]
ARM_UPPER_LIMITS: [45, 0, 180, 0, 90, 0]
# TODO: need to finalize the arm range
# ARM_LOWER_LIMITS_FOR_SEMANTIC_PLACE: [-45, -180, 0, 0, -90, -90]
# ARM_UPPER_LIMITS_FOR_SEMANTIC_PLACE: [45, -45, 180, 0, 90, 90]
ARM_LOWER_LIMITS_FOR_SEMANTIC_PLACE: [-90, -180, 0, 0, -90, -90]
ARM_UPPER_LIMITS_FOR_SEMANTIC_PLACE: [90, 0, 180, 0, 90, 90]
JOINT_BLACKLIST: [3, 5] # joints we can't control "arm0.el0", "arm0.wr1"

ACTUALLY_MOVE_ARM: True
GRASP_EVERY_STEP: False
TERMINATE_ON_GRASP: False

# Mask RCNN
GRAYSCALE_MASK_RCNN: False
USE_MRCNN: True
USE_FPN_R50: False
USE_DEBLURGAN: True
IMAGE_SCALE: 0.7
# After this many time steps of not seeing the current target object, we become open to looking for new ones
FORGET_TARGET_OBJECT_STEPS: 15

# Docking (currently only used by ASC, Seq Exp and Language env)
RETURN_TO_BASE: True

# BD params
ARM_TRAJECTORY_TIME_IN_SECONDS: 2.0

# Prints
VERBOSE: True