**/__pycache__/**
.vscode
*.jpg
*.png
!intel_realsense_payload_for_spotsim2real/images_for_readme/*.jpg
!intel_realsense_payload_for_spotsim2real/images_for_readme/*.png
**/**.egg-info/**

intel_realsense_payload_for_spotsim2real/dist/*
intel_realsense_payload_for_spotsim2real/build/*
bd_spot_wrapper/spot_wrapper.egg-info/**
bd_spot_wrapper/spot_wrapper/home.txt
spot_rl_experiments/spot_rl.egg-info/**
spot_rl_experiments/configs/waypoints.yaml


spot_rl_experiments/spot_rl/utils/gripper_T_intel.npy
intel_realsense_payload_for_spotsim2real/gripper_T_intel.npy

**/grasp_visualizations/**
**/temp_recordings/**

**/**/.ipynb_checkpoints
data/*
data
spot_rl_experiments/experiments/skill_test/logs/*
spot_rl_experiments/experiments/skill_test/table_detections/*
ros_tcp/ros_communication_client.egg-info/**
spot_rl_experiments/experiments/skill_test/episode_configs/*
*.npy
*.csv
*.json
*.pkl
*.gz
*.pt*
*.pkl*
*.json
*.csv
*.pt
