**/__pycache__/**
.vscode
*.jpg
*.png
**/**.egg-info/**

bd_spot_wrapper/spot_wrapper.egg-info/**
bd_spot_wrapper/spot_wrapper/home.txt
spot_rl_experiments/spot_rl.egg-info/**
spot_rl_experiments/configs/waypoints.yaml

**/grasp_visualizations/**
**/temp_recordings/**
