**/__pycache__/**
.vscode
*.jpg
*.png
!intel_realsense_payload_for_spotsim2real/images_for_readme/*.jpg
!intel_realsense_payload_for_spotsim2real/images_for_readme/*.png
**/**.egg-info/**

intel_realsense_payload_for_spotsim2real/dist/*
intel_realsense_payload_for_spotsim2real/build/*
bd_spot_wrapper/spot_wrapper.egg-info/**
bd_spot_wrapper/spot_wrapper/home.txt
spot_rl_experiments/spot_rl.egg-info/**
spot_rl_experiments/configs/waypoints.yaml

**/grasp_visualizations/**
**/temp_recordings/**

**/**/.ipynb_checkpoints
*capture_the_moment.py
data/*