[submodule "third_party/habitat-lab"]
	path = third_party/habitat-lab
	url = git@github.com:naokiyokoyama/habitat-lab.git
	branch = pvp
	ignore = dirty
[submodule "third_party/DeblurGANv2"]
	path = third_party/DeblurGANv2
	url = git@github.com:naokiyokoyama/DeblurGANv2.git
	branch = master
	ignore = dirty
[submodule "third_party/mask_rcnn_detectron2"]
	path = third_party/mask_rcnn_detectron2
	url = https://github.com/naokiyokoyama/mask_rcnn_detectron2
	branch = main
	ignore = dirty
[submodule "third_party/FoundationPoseForSpotSim2Real"]
	path = third_party/FoundationPoseForSpotSim2Real
	url = https://github.com/tusharsangam/FoundationPoseForSpotSim2Real
	branch = main
	ignore = dirty 
[submodule "third_party/meta-fair-siro-phase-h1-server"]
	path = third_party/meta-fair-siro-phase-h1-server
	url = git@bitbucket.org:nexusproductions/meta-fair-siro-phase-h1-server.git
